* {
  box-sizing: border-box;
  /* border: 1px red solid; */
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  background-color: var(--primary);
}

:root {
  --primary: #dee4e7;
  --secondary: gray;
  --tertiary: black;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: end;
  color: var(--tertiary);
}

header {
  display: flex;
  height: 8%;
  width: 100%;
  align-items: center;
  border-bottom: 3px solid var(--tertiary);
  justify-content: end;
  margin-bottom: 2px;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

section {
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border: 3px solid var(--tertiary);
  margin: 1px;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: var(--tertiary);
}

button {
  padding: 5px;
  margin: 5px;
}

h1 {
  align-self: center;
}

label {
  padding: 2px;
}

input {
  height: 30px;
  box-shadow: 2px 2px var(--secondary);
  border-radius: 8px;
}

button {
  background-color: var(--tertiary);
  color: var(--primary);
  border-radius: 8px;
}
